<div>
    <div style="padding-top: 20px;padding-bottom: 16px;min-width:550px;color:#333333;font-family:'HelveticaNeue','Helvetica Neue','HelveticaNeueRoman','HelveticaNeue-Roman','Helvetica Neue Roman','TeXGyreHerosRegular','Helvetica','Tahoma','Geneva','Arial',sans-serif;font-weight:400;font-stretch:normal;text-align:center;background-color:#6c757d">         
        <div align="left" style="width:480px;background-color:#ffffff;text-align:left;margin:0 auto 40px;padding:5px 5px 0;border-radius:3px">             
            <h1 style="text-align: center;">Notification Burval !</h1>
            <div style="padding:0 30px 15px;border-bottom:1px solid #c0c0c8">                                     
                <div style="font-size:37px;font-weight:normal;margin-bottom:30px">
                    <div></div>
                    <div style="background-color:rgb(243,243,243);text-align:center"></div>
                    <div></div>                
                </div>
                                    
                <div align="left" style="width:410px;font-size:14px;color:#333333;line-height:22px;margin:0 0 30px;background-color:#ffffff">
                    <div></div>
                    <div style="background-color:#ffffff">Bonjour ${user1} & ${user2},<br clear="none"><br clear="none">Nous venons de recevoir une notification concernant le site ${site} . Pour plus de détails, il vous suffit de cliquer sur ce lien.<br clear="none"><br clear="none"></div>
                    
                    <div style="margin-top: 10px; margin-bottom: 40px;">
                        <a style="text-decoration: none;" href="http://${domaine}/chauffeurs/confirmation/${token}" target="_blank" data-saferedirecturl="http://${domaine}/chauffeurs/confirmation/${token}&amp;source=gmail" >
                        <table border="0" align="center" width="240" cellpadding="0" cellspacing="0" style="border-top-left-radius:50px;border-top-right-radius:50px;border-bottom-right-radius:50px;border-bottom-left-radius:50px;background-color:rgb(120,171,78)">
                            <tbody>
                            <tr>
                            <td height="18" style="font-size:18px;line-height:18px">&nbsp;</td>
                            </tr>
                            <tr>
                            <td align="center" style="color:#ffffff;font-size:18px;font-family:'Questrial',Helvetica,sans-serif">
                                
                                <div style="line-height:24px">
                                <span><a style="color:#ffffff;text-decoration:none">Voir le détail</a></span>
                                </div>
                            </td>
                            </tr>
                            <tr>
                            <td height="18" style="font-size:18px;line-height:18px">&nbsp;</td>
                            </tr>
                            </tbody>
                        </table>
                        </a>
                    </div>
                </div>
            </div>

            <div align="left" style="width:410px;text-align:left;font-size:14px;color:#333333;line-height:22px;margin:0 0 30px;padding:0px 30px 0px;background-color:#ffffff">
                <div></div>

                <br clear="none">
                <br clear="none">
                <br clear="none">
                <br clear="none">
                <center>
                    L'équipe DAB Burval<br clear="none"><br clear="none">                        
                    <div>
                        <a rel="nofollow" shape="rect" style="font-size:10px">Rue des Textiles, Abidjan, Côte d’Ivoire</a>
                    </div>
                </center>
                <div></div>
            </div>
        </div>
    </div>
</div>